	<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
		<div class="btn-group-vertical">
		  <!-- <button id="yellow" type="button" href="/i'm-nervous" onclick = "yellowFunction()" class="btn btn-primary">I'm Nervous
		  </button> -->
		  <form action="/i'm-nervous" >
		  <!-- <form action="http://google.com"> -->
			    <button  class="btn-group-vertical" id = "yellow" type="I'm Nervous" value="send-text">I'm Nervous</button>
			</form>
			<form action="/contact-nearby" >
			    <button  class="btn-group-vertical" id = "orange" type="Contact nearby" value="send-text">Contact Nearby</button>
			</form>
			<form action="/emergency" >
			    <button  class="btn-group-vertical" id = "red" type="emergency" value="send-text">Emergency</button>
			</form>
		</div>
  	
  </body>
  </html>